.fs-45 {
  font-size: 45px;
}

.banner-img-prod {
  background-image: url("../images/products/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 82vh;
}

.leaf7 {
  background-image: url("../images/home/leaf1.png"),
    url("../images/home/ProductLeaf.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top, right bottom;
}

.umberlla1 {
  min-height: 250px;
}

.umberlla {
  top: -60px;
  left: -19px;
}

.gradiant-text {
  background: linear-gradient(90deg, #cc140d 0.44%, #2c7d05 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bor-right {
  border-right: rgba(44, 125, 5, 1) 6px solid;
  box-shadow: 0px 0px 2px gray;
  border-radius: 10px;
}

.product-banner-sec {
  background-image: url("../images/products/2149870264.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.Stay-Tuned {
  width: 35%;
  top: 21%;
  left: 10%;
}

.staytuned {
  background-image: url("../images/products/staytuned.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 53vh;
}

.draganfruit {
  bottom: -34%;
  left: 0%;
}
@media (min-width: 1445px) {
  .draganfruit {
    bottom: -20%;
    left: 4%;
  }
}
@media (max-width: 1024px) {
  .umberlla {
    top: -20px;
    left: -30px;
  }
}

@media (max-width: 768px) {
  .umberlla {
    top: 0px;
    left: -30px;
  }
}

@media (max-width: 450px) {
  .Stay-Tuned {
    width: 100%;
    top: 6%;
    left: 0%;
  }

  .banner-img-prod {
    background-position-x: -292px;
  }
}
